doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Admin Page
        link(rel="icon" type="image/x-icon" href="/assets/palomitas.png")
        link(rel="stylesheet" type="text/css" href="/styles.css")
    body
        header(id="formatHeader")
            button(type="button", onclick="history.back()") &#8678
            h1.main-title Browser
            div(id="space2") 
            input#toggle(type='checkbox')
            label.hamburger(for='toggle')
                div.top-bun
                div.meat
                div.bottom-bun

            .nav
                .nav-wrapper
                    nav
                        a(href="/admin/createmovie") Create Movie
                        br
                        a(href="/logout") Log out
        main(id="generalFormat")
            section(class="movies-found")
                if adminMovies
                        each movie in adminMovies
                            article 
                                a(href=`/search/${movie.movieId}`)
                                    img(src=`${movie.Poster}`)
                                    p.movie-title= movie.Title
                                button(onclick=`window.location.href='/admin/editmovie/${movie.movieId}'`) Edit 
                                button(onclick=`deleteMovieButton('/admin/removemovie/${movie.movieId}')`) Remove
    script(src="/scripts.js")