doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Admin Page
        link(rel="stylesheet", type="text/css", href="/styles.css")
    body
        header 
            h1.main-title Admin
        main
            section(class="movies-found")
                if adminMovies
                        each movie in adminMovies
                            article 
                                a(href=`/search/${movie.movieId}`)
                                    img(src=`${movie.Poster}`)
                                    p.movie-title= movie.Title
                                button(onclick=`window.location.href='/admin/editmovie/${movie.movieId}'`) Edit 
                                button(onclick=`deleteMovieButton('/admin/removemovie/${movie.movieId}')`) Remove
    script(src="/scripts.js")