doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{movie.title}
        link(rel="stylesheet", type="text/css", href="/styles.css")
    body
        header
            a(href=`/search`)
                p &#60;
        main
            img(src=`${movie.image}`, alt="", srcset="")
            h2 #{movie.year} #{movie.title} #{movie.runtimeMins}m
            p Rating: #{movie.imDbRating}
            p Genres: #{movie.genres}
            p #{movie.plot}
            p Directors: #{movie.directors}
            p Actors: #{movie.stars}
    script(src="/scripts.js")